requirement.pdf

.vscode
build
code/.vscode/
code/bin
code/build
code/deps/vecmath/CMakeFiles
code/deps/vecmath/cmake_install.cmake
code/deps/vecmath/Makefile
code/output

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
